<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RefreshToken" value=""/>
    <add key="HighQuality" value="true"/>
    <add key="EncodingMode" value="Constant"/>
    <add key="AudioEnabled" value="true"/>
    <add key="MP4" value="True"/>
    <add key="MP4Codec" value="2"/>
    <add key="OnlyFFMPEG" value="True"/>
    <add key="DisableUpdates" value="True"/>
    <add key="PathDownload" value=""/>
    <add key="VP9" value="true"/>
    <add key="POP" value="False"/>
    <add key="DWO" value="False"/>
    <add key="DisableSubtitles" value="False"/>
    <add key="DisableMetadata" value="False"/>
    <add key="SizeLimit" value=""/>
    <add key="Text" value=""/>
    <add key="CRF4k" value="26"/>
    <add key="CRFother" value="30"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
