<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RefreshToken" value=""/>
    <add key="HighQuality" value="true"/>
    <add key="EncodingMode" value="Variable"/>
    <add key="AudioEnabled" value="false"/>
    <add key="PathDownload" value=""/>
    <add key="VP9" value="true"/>
    <add key="MP4Codec" value="2"/> <!-- Default to index 2: H.264 NVENC -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
